@charset "utf-8";
/* CSS Document */
body {
	background: url('../images/0619.jpg') no-repeat fixed;
	background-size:cover;
}
#logo {
	height: 569px;
	width: 1500px;
	background-image: url('../images/logo.png');
	background-repeat: no-repeat fixed;
	background-position: top left;
	padding: 0px 0px 0px 0px;
	text-align: center;
}
